<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" />
  </specFlow>
  <appSettings>
    <add key="BaseURL" value="http://qa.ole5.sa"/>
    <add key="AdminUserName" value="arslanadmin" />
    <add key="AdminPassword" value="P@ssw0rd!@#" />
    <add key="BrowserType" value="chrome" />
    <!--<add key="BrowserType" value="firefox"/>-->
    <add key="UserName" value="arslan" />
    <add key="Password" value="Automation#2017" />
    
  </appSettings>
</configuration>